<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"> Add User </div>

                    <div class="panel-body">
                        <div class="col-md-6 col-md-offset-3">
                            <form id="adduser-form" role="form" @submit.prevent="getFormValues()">
                                <div class="form-group">
                                    <label for="name"> Name: </label>
                                    <input type="text" name="name" class='form-control' ref="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone"> Phone: </label>
                                    <input type="tel" name="phone" class='form-control' ref="phone" required>
                                </div>
                                <div class="form-group">
                                    <label for="email"> Email: </label>
                                    <input type="text" v-validate data-vv-rules="required|email" name="email" class='form-control' v-model="email" required>
                                </div>
                               <div class="form-group">
                                <label for="gender"> Gender: </label>
                                    <input type="radio" name="gender"  ref="gender" value="male" checked> Male
                                    <input type="radio" name="gender" ref="gemder" value="female"> Female
                                </div>
                                <div class="form-group">
                                    <label for="dob"> Date of Birth: </label>
                                    <input type="date" name="dob" class='form-control' ref="dob" required="ture">
                                </div>
                                <div class="form-group">
                                    <label for="biography"> Biography: </label>
                                    <textarea name="biography" class='form-control' ref="biography" required="ture"> </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="image_src"> Image: </label>
                                    <input type="file" name="image_src" ref="image" required="ture">
                                </div>
                                
                                <input type="submit" class="btn btn-default" value="Add User" /> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            email:''
        },
        methods: {
            getFormValues () {
              /* 
              alert(this.$refs.name.value+' - '+this.$refs.phone.value+' - '+this.email+' - '+this.$refs.gender.value+' - '+this.$refs.dob.value+' - '+this.$refs.biography.value+' - '+this.$refs.image.value);
            */
             var data = {
                    name : this.$refs.name.value,
                    phone: this.$refs.phone.value,
                    email: this.email,
                    gender: this.$refs.gender.value,
                    dob: this.$refs.dob.value,
                    biography: this.$refs.biography.vlaue,
                    image_src: this.$refs.image.value
              }
            
              alert(data);

              // send form data via post request

            }
        }
    }
</script>
